#cart{
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)) ,url('https://static.vecteezy.com/system/resources/previews/005/741/871/non_2x/cute-seamless-pattern-with-bakery-hand-drawn-doodles-on-caramel-background-wrapping-paper-textile-prints-package-wallpaper-etc-eps-10-free-vector.jpg');
    background-size: cover;
    background-position: center;
    
}